<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.varsitycollege.st10043352.opsc_clockit">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OPSC_ClockIT"
        tools:targetApi="31">
        <activity
            android:name=".ViewAllSessions2"
            android:exported="false" />
        <activity
            android:name=".ViewAllSessions"
            android:exported="false" />
        <activity
            android:name=".LeaderBoard"
            android:exported="false" />
        <activity
            android:name=".PieChartGoals"
            android:exported="false" />
        <activity
            android:name=".statsGoals"
            android:exported="false" />
        <activity
            android:name=".ActivityInfo1"
            android:exported="false" />
        <activity
            android:name=".ViewLog"
            android:exported="false" />
        <activity
            android:name=".CategoryActivityInsights"
            android:exported="false" />
        <activity
            android:name=".PeriodLogged"
            android:exported="false" />
        <activity
            android:name=".staticsticsPeriod"
            android:exported="false" />
        <activity
            android:name=".SessionLog"
            android:exported="false" />
        <activity
            android:name=".AddGoal"
            android:exported="false" />
        <activity
            android:name=".LogHours"
            android:exported="false" />
        <activity
            android:name=".goals"
            android:exported="false" />
        <activity
            android:name=".stats"
            android:exported="false" />
        <activity
            android:name=".Insights"
            android:exported="false" />
        <activity
            android:name=".FunTime"
            android:exported="false" />
        <activity
            android:name=".Challenges"
            android:exported="false" />
        <activity
            android:name=".Awards"
            android:exported="false" />
        <activity
            android:name=".Add_Category"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false" />
        <activity
            android:name=".home_page"
            android:exported="false" />
        <activity
            android:name=".Howdoesfuntimework"
            android:exported="false" />
        <activity
            android:name=".register_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>